# environment variables with sensitive information
# steps to works
# 1. Copy this file to src/.env.secrets
# 2. Edit new file inside src/.env.secrets and filled the fields required
SEC_USER_EMAIL="emailaddres@domain.dot"
FINANCIAL_MODELING_PREP_API_KEY="supersecretapykey"
